@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/BareunBatang.css');

@import url('//cdn.rawgit.com/young-ha/webfont-archive/master/css/HANBatang.css');

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800&display=swap&subset=korean');

@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/*
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap&subset=korean');
*/

*, html {
    margin:0;
    padding:0;  
}

body{
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	/*image-rendering: auto;*/
  	image-rendering: crisp-edges;
  	image-rendering: pixelated;
}

a {
	color: #333333;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: linear 0.1s;
	transition: linear 0.1s;
}	

a:hover {
	color: #0066B3;
  	text-decoration: none;
}

a:focus, a:active, button:focus, button:active {
  outline: 0;
  box-shadow:none;
}

hr {
	border-width: 1px;
  	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1) !important;
}

.light hr {
	border-width: 1px;
  	border-style: solid;
	border-color: rgba(245, 245, 245, 0.5) !important;
}

.iScrollIndicator {
	display: none !important; 
}

/*
img.scale, img.responsive {
    max-width: 100%;
    height: auto;
}

a.text-decoration-overline:hover, button.text-decoration-overline:hover {
	text-decoration: overline;
}

a.text-decoration-line-through:hover, button.text-decoration-line-through:hover {
	text-decoration: line-through;
}

a.text-decoration-underline-overline:hover, button.text-decoration-underline-overline:hover {
	text-decoration: underline overline;
}

button
a.text-decoration-underline:hover, button.text-decoration-underline:hover {
	text-decoration: underline;
}

button {
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 0;
	cursor: pointer;
}

#scrollbar-hide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #FAFAFA;
}

#scrollbar-hide::-webkit-scrollbar {
    width: 12px;
    background-color: #FAFAFA;
}

#scrollbar-hide::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FAFAFA;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

@media (max-width: 2880px) {
}

@media (max-width: 2560px) {
}

@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 840px) {
}

@media (max-width: 720px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {	
}
*/

/*------------------------------------------------------------------

  Contents Layout

 -----------------------------------------------------------------*/

.content-fullscreen {
	width: 100%;
	height: 100vh;
}

.content-fullscreen .container, .content-fullscreen .container-fluid {
	height: 100%;
	/*height: 100vh;*/
}

.content-full-height{
	height:100%;
}

.content-min-height{
	min-height:100vh;
}

.content-01 {
	padding: 109px 22.5%;
}

.content-02 {
	padding: 105px 22.5%;
}

.content-03 {
	padding: 107.5px 22.5%;
}

.content-04 {
	padding: 107.5px 22.5%;
}

.content-05 {
	padding: 109px 22.5%;
}

.content-06 {
	padding: 109px 22.5%;
}


/*
.section-portfolio{
	padding: 100px 17.5%;
}

@media (max-width: 2880px) {
}

@media (max-width: 2560px) {
}
*/

@media (max-width: 1920px) {
	.content-01 {
		padding: 100.5px 17.5%;
	}

	.content-02 {
		padding: 96.5px 17.5%;
	}

	.content-03 {
		padding: 100px 17.5%;
	}
	
	.content-04 {
	padding: 58px 22.5%;
	}
	
	.content-05 {
	padding: 109px 17.5%;
	}
	
	.content-06 {
	padding: 109px 17.5%;
	}
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
	.content-01 {
	padding: 90px 17.5%;
	}
		
	.content-02 {
	padding: 86px 17.5%;
	}
	
    .content-03 {
	padding: 90px 17.5%;
    }
	
	.content-05 {
	padding: 95.5px 17.5%;
	}
	
	.content-06 {
	padding: 61px 17.5%;
	}
	
}

@media (max-width: 840px) {
	
}

@media (max-width: 720px) {	
	.content-01 {
	padding: 67.5px 20px;
	}
	
	.content-02 {
	padding: 75px 12.5px;
	}

	.content-03 {
	padding: 80px 27.5px;
	}
	
	.content-05 {
	padding: 80px 27.5px;
	}
	
	.content-06 {
	padding: 80px 27.5px;
	}

}

@media (max-width: 600px) {
}

@media (max-width: 480px) {	
	.content-01 {
	padding: 69px 17.5px;
	}
	
	.content-02 {
	padding: 75px 17.5px;
	}

	.content-03 {
	padding: 75.5px 17.5px;
	}
	
	.content-05 {
	padding: 75.5px 14px;
	}
	
	.content-06 {
	padding: 65px 17.5px;
	}
	
}

@media (max-width: 360px) {
}

/*------------------------------------------------------------------

  Menu Layout

 -----------------------------------------------------------------*/

.layout > * {
    position: fixed;
	z-index: 999;
}

.layout .layout-top-left {
    top: 25px;
    left: 50px;
}

.layout .layout-top-left * + .layout-top-left-rotated {
    margin-top: 25px;
}

.layout .layout-top-left .layout-top-left-rotated {
    display: block;
    margin-left: -2px;
    -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.layout .layout-bottom-left {
    bottom: 50px;
    left: 50px;
}

.layout .layout-bottom-right {
    bottom: 50px;
    right: 37px;
}

.layout-full-height-bottom{
	position: absolute;
    bottom: 50px;
	padding: 0 22.5%;
}

/*
.scroll-auto {
  -webkit-overflow-scrolling: auto; --Stops scrolling immediately--
}*/


.layout-about-bottom {
	position: relative;
	right: 50px;
	bottom: -20px;/*30px/20%*/
}

.layout-blog-bottom {
	position: relative;
	right: 50px;
	bottom: 15px;
}

.layout-updating-bottom {
	position: relative;
	right: 50px;
	bottom: 15px;
}

.margin-left-x-grid-padding{
	margin: 0 -7.5px;	
}

.button-position-01{
	margin: 0 -15px;
}

.padding-title-subtitle p{
	padding-top: 10px;
	padding-bottom: 0px;
}

.padding-left-text{
	padding-left:8px;
}

.visible-pc {
display: inline-block;
}

.visible-tablet {
display: none;
}

.visible-mobile {
display: none;
}

/*
.layout-social-bottom{
	position: absolute;
	right: 0px;
	padding-top: 150px;
}

.layout .layout-top-right {
    top: 40px;
    right: 40px;
    z-index: 11;
}

.layout-bottom {
	position: relative;
    bottom: -460px;
}

.layout-bottom-center {
    bottom: 35px;
}

.padding-top-20px{
	padding-top: 20px;
}

.content-layout-bottom-right{
	position: relative;
	bottom: -105px;	
}

@media (max-width: 2880px) {
}

@media (max-width: 2560px) {
}
*/

@media (max-width: 1920px) {
	.layout-full-height-bottom{
		bottom: 47px;
		padding: 0 17.75%;
	}
	
	.layout-about-bottom {
	position: relative;
	right: 50px;
	bottom: -20px;/*30px/20%*/
	}
	
	.layout-blog-bottom {
	position: relative;
	right: 50px;
	bottom: -10px;
	}
	
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
	/*
	.layout-social-bottom{
		right: 0px;
		padding-top: 150px;
	}
	*/
}

@media (max-width: 960px) {
	.layout .layout-top-left {
		top: 15px;
		left: 25px;
	}

	.layout .layout-top-left * + .layout-top-left-rotated {
		margin-top: 25px;
	}

	.layout .layout-bottom-left {
		bottom: 35px;
		left: 24px;
	}

	.layout .layout-bottom-right {
		bottom: 35px;
		right: 13px;
	}

	/*이거 필요해?*/
	.layout-content-bottom-right{
		bottom:50px;
		right: 130px;
	}

	.layout-full-height-bottom{
		/*position: static !important;*/
		/*position: absolute !important;*/
		/*float:left;*/
		position: absolute;
		bottom: 32.5px;
		z-index: 30;
	}

	.layout-about-bottom {
		right: 0px;
		bottom: -25px;
	}

	.layout-blog-bottom {
		right:0px;
		bottom: 10px
	}
	
	.layout-updating-bottom {
		right: 0px;
		bottom: 10px
	}
	
	.button-position-01{
		margin: 0 -12.5px;
	}

	.padding-title-subtitle p{
		padding-top: 10px;
		padding-bottom: 0px;
	}
	
	.visible-pc {
	display: none;
	}
	
	.visible-tablet {
	display: inline-block;
	}
	
	.visible-mobile {
	display: none;
	}
	
	/*
	.layout .layout-top-right {
		top: 37px;
		right: 20px;
	}
	
	.layout-social-bottom{
		right: 0px;
		padding-top: 150px;
	}
	*/
	
}

@media (max-width: 840px) {
}

@media (max-width: 720px) {
	.layout > * {
  		position: absolute;
	}
	
	.layout .layout-top-left {
		top: 16.5px !important;
		left: 27.5px !important;
	}

	.layout .layout-top-left * + .layout-top-left-rotated {
	   display: none;
	}

	.layout .layout-bottom-right {
		display: none;
	}

	.layout .layout-bottom-left {
		display: none;
	}

	.content-layout-bottom-right{
		position: relative;
		bottom: -100px;
		left: auto;
		right: 20px;	
	}

	.layout-full-height-bottom{
		position: absolute !important;
		bottom: 40px;
		padding: 0 27.5px;
	}

	.layout-about-bottom {
		right: 27.5px;
		bottom: 5px
	}

	.layout-blog-bottom {
		right: 27.5px;
		bottom: 15px;
	}

	.layout-updating-bottom {
		right: 27.5px;
		bottom: 15px;
	}
	
	.button-position-01{
		margin: 0 -5px;
	}
	
	.margin-left-x-grid-padding{
		margin: 0;
	}

	.padding-left-text{
	padding-left:0px;
	}
	
	.visible-pc {
	display: none;
	}
	
	.visible-tablet {
	display: none;
	}
	
	.visible-mobile {
	display: initial;
	}
	
	/*
	.layout .layout-top-left * + .layout-top-left-logo{
		position: fixed;
	}
	
    .layout .layout-top-right {
        top: 33px;
        right: --px;

    }
	
	.layout-bottom-center {
		bottom: 50%;
	}
	*/

}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
	.layout .layout-top-left {
		left: 17.5px !important;
		/*
		left: 27.5px;
		*/
	}
	
	.layout-full-height-bottom{
		/*
		padding: 0 25.5px;
		*/
		padding: 0 17.5px;
	}
	
	.layout-about-bottom {
		/*
		right: 25.5px;
		*/
		right: 17.5px;
		bottom: 15px;	
	}
	
	.layout-about-bottom img {
		width:65%
	}
	
	.layout-blog-bottom {
		/*
		right: 25.5px;
		*/
		right: 17.5px;
		bottom: 15px;	
	}
	
	.layout-blog-bottom img {
		width:65%
	}
	
	.layout-updating-bottom {
		/*
		right: 25.5px;
		*/
		right: 17.5px;
		bottom: 15px;	
	}
	
	.layout-updating-bottom img {
		width:75%
	}
	
	.padding-title-subtitle p{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.padding-left-text{
	padding-left:0px;
}
	
	/*
	.layout .layout-top-right {
		top: 33px;
		right: 5%;
	}
	*/
	
}
	
@media (max-width: 360px) {
}

/*------------------------------------------------------------------

	Grid

 -----------------------------------------------------------------*/

*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='grid-'] {
    float: left;
    padding: 7.5px;
    width:100%;
}

.container {
    margin:0%;
    width: 100%;
	z-index: 1;
	box-sizing: border-box;
}

.container, .container-fluid {
	position: relative;
}

.container:after, .container:before {
    display: table;
    clear:both;
    content: "";
}

.grid-xl-1-of-12 {
    width: 8.33%;
}
	
.grid-xl-2-of-12 {
    width: 16.66666%;
}
	
.grid-xl-3-of-12 {
    width: 24.99%;
}

.grid-xl-4-of-12 {
    width: 33.33%;
}

.grid-xl-5-of-12 {
    width: 41.6665%;
}
	
.grid-xl-6-of-12 {
    width: 50%;
}

.grid-xl-7-of-12{
    width: 58.333%;
}
	
.grid-xl-8-of-12 {
    width: 66.66666664%;
}
	
.grid-xl-9-of-12 {
    width: 74.999997%;
}
	
.grid-xl-10-of-12{
    width: 83.33%;
}

.grid-xl-11-of-12 {
    width: 91.666663%;
}
	
.grid-xl-12-of-12 {
    width: 100%;
}

/*
.clear-grid{
    clear:both;
    float:inherit;
}

.nest {
    margin:0 -10px;
    padding:0;
    width:auto;
}
*/

@media (max-width: 2880px) {
}

@media (max-width: 2560px) {
}

@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
	.grid-lg-1-of-12 {
		width: 8.33%;
	}

	.grid-lg-2-of-12 {
		width: 16.66666%;
	}

	.grid-lg-3-of-12 {
		width: 24.99%;
	}

	.grid-lg-4-of-12 {
		width: 33.33%;
	}

	.grid-lg-5-of-12 {
		width: 41.6665%;
	}

	.grid-lg-6-of-12 {
		width: 50%;
	}

	.grid-lg-7-of-12{
		width: 58.333%;
	}

	.grid-lg-8-of-12 {
		width: 66.66666664%;
	}

	.grid-lg-9-of-12 {
		width: 74.999997%;
	}

	.grid-lg-10-of-12{
		width: 83.33%;
	}

	.grid-lg-11-of-12 {
		width: 91.666663%;
	}

	.grid-lg-12-of-12 {
		width: 100%;
	}
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
	.grid-md-1-of-12 {
		width: 8.33%;
	}

	.grid-md-2-of-12 {
		width: 16.66666%;
	}

	.grid-md-3-of-12 {
		width: 24.99%;
	}

	.grid-md-4-of-12 {
		width: 33.33%;
	}

	.grid-md-5-of-12 {
		width: 41.6665%;
	}

	.grid-md-6-of-12 {
		width: 50%;
	}

	.grid-md-7-of-12{
		width: 58.333%;
	}

	.grid-md-8-of-12 {
		width: 66.66666664%;
	}

	.grid-md-9-of-12 {
		width: 74.999997%;
	}

	.grid-md-10-of-12{
		width: 83.33%;
	}

	.grid-md-11-of-12 {
		width: 91.666663%;
	}

	.grid-md-12-of-12 {
		width: 100%;
	}
}

@media screen and (max-width: 960px) {
}

@media (max-width: 840px) {
}

@media (max-width: 720px) {
	.grid-sm-1-of-12 {
		width: 8.33%;
	}

	.grid-sm-2-of-12 {
		width: 16.66666%;
	}

	.grid-sm-3-of-12 {
		width: 24.99%;
	}

	.grid-sm-4-of-12 {
		width: 33.33%;
	}

	.grid-sm-5-of-12 {
		width: 41.6665%;
	}

	.grid-sm-6-of-12 {
		width: 50%;
	}

	.grid-sm-7-of-12{
		width: 58.333%;
	}

	.grid-sm-8-of-12 {
		width: 66.66666664%;
	}

	.grid-sm-9-of-12 {
		width: 74.999997%;
	}

	.grid-sm-10-of-12{
		width: 83.33%;
	}

	.grid-sm-11-of-12 {
		width: 91.666663%;
	}

	.grid-sm-12-of-12 {
		width: 100%;
	}
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
	[class*='grid-'] {
		float: left;
		padding: 2% 0;
		width:100%;
	}

	.grid-xs-1-of-12 {
		width: 8.33%;
	}

	.grid-xs-2-of-12 {
		width: 16.66666%;
	}

	.grid-xs-3-of-12 {
		width: 24.99%;
	}

	.grid-xs-4-of-12 {
		width: 33.33%;
	}

	.grid-xs-5-of-12 {
		width: 41.6665%;
	}

	.grid-xs-6-of-12 {
		width: 50%;
	}

	.grid-xs-7-of-12{
		width: 58.333%;
	}

	.grid-xs-8-of-12 {
		width: 66.66666664%;
	}

	.grid-xs-9-of-12 {
		width: 74.999997%;
	}

	.grid-xs-10-of-12{
		width: 83.33%;
	}

	.grid-xs-11-of-12 {
		width: 91.666663%;
	}

	.grid-xs-12-of-12 {
		width: 100%;
	}
}

@media (max-width: 360px) {
}

/*------------------------------------------------------------------

  Contents

 -----------------------------------------------------------------*/

.fullscreen-position-middle {
	position: absolute;
	top: auto;
	bottom: 45vh;
	/*transform: translate(-40% -60%);*/
	left:0;
	width: 100%;
}

/*
.fullscreen-position-top, .position-bottom {
  position: absolute;
  left: 0;
  width: 100%;
}

.fullscreen-position-top {
  top: 500px;
}*/

@media (max-width: 960px) {
	.fullscreen-position-middle {
	/*margin-top:auto;
	margin-bottom: auto;*/
	bottom: 52.5vh;
	}
}

@media (max-width: 720px) {
	.fullscreen-position-middle {
	/*margin-top:auto;
	margin-bottom: auto;*/
	bottom: 52.5vh;
	}
}

/*------------------------------------------------------------------

  Navigaton / light

 -----------------------------------------------------------------*/

.navigation {
    position: relative;
	font-weight: 700;
	color: #333333;
    line-height: 1;
    opacity: 1;
    visibility: visible;
    transition: .4s opacity ease, .3s visibility ease;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -11.5px;
}

.navigation ul:after {
    content: '';
    display: table;
    clear: both;
}

.navigation ul > li {
    float: left;
    margin: 0 11.5px;
}

.navigation ul a {
    color: inherit;
    text-decoration: none;
}

.navigation ul a:active,
.navigation ul a:focus {
    color: inherit;
}

.navigation ul a:hover,
.navigation ul li.active > a,
.navigation ul li.hover > a {
    color: #0066B3;
}

.navigation-text-400{
	font-weight: 400;
}

/*
.navigation-logo,
.navigation-logo:focus,
.navigation-logo:hover,
.navigation-logo:active {
    text-decoration: none;
	color: #333333;
}

.navigation-text{
	font-weight: bold;
}


.navigation-text-400{
	font-weight: 400;
}


.navigation .navigation-hide {
    opacity: 0;
    visibility: hidden;
}

.navigation-menu img{
	width: 20px;
	height: 20px;
}

.naviagtion-social{
	font-weight: normal;
	display: table;
	list-style: none;
	display: inline-block;
}
*/

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 840px) {
}

@media (max-width: 720px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
}


/*------------------------------------------------------------------

  Navigaton / dark

 -----------------------------------------------------------------*/

.dark-background .logo h2 {
	color: #f5f5f5;
}

.dark-background .navigation{
	color: #f5f5f5;
}

.dark-background .navigation ul a:hover,
.dark-background .navigation ul li .active > a,
.dark-background .navigation ul li .hover > a {
    color: #aaaaaa;
}

.navigation {
    position: relative;
	font-weight: 700;
	color: #333333;
    line-height: 1;
    opacity: 1;
    visibility: visible;
    transition: .4s opacity ease, .3s visibility ease;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -11.5px;
}

.navigation ul:after {
    content: '';
    display: table;
    clear: both;
}

.navigation ul > li {
    float: left;
    margin: 0 11.5px;
}

.navigation ul a {
    color: inherit;
    text-decoration: none;
}

.navigation ul a:active,
.navigation ul a:focus {
    color: inherit;
}

.navigation ul a:hover,
.navigation ul li.active > a,
.navigation ul li.hover > a {
    color: #0066B3;
}

/*
.navigation-logo,
.navigation-logo:focus,
.navigation-logo:hover,
.navigation-logo:active {
    text-decoration: none;
	color: #333333;
}

.navigation-text{
	font-weight: bold;
}

.navigation .navigation-hide {
    opacity: 0;
    visibility: hidden;
}

.navigation-menu img{
	width: 20px;
	height: 20px;
}

.naviagtion-social{
	font-weight: normal;
	display: table;
	list-style: none;
	display: inline-block;
}
*/

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
}

@media (max-width: 840px) {
}

@media (max-width: 720px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

/*------------------------------------------------------------------

Stretch-menu

------------------------------------------------------------------*/

.cd-stretchy-nav {
	position: fixed;
	z-index: 2;
	top: 30px;
	right: 31px;
	pointer-events: none;
}

.cd-stretchy-nav .stretchy-nav-bg {
  /* this is the stretching navigation background */
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-transition: height 0.2s, box-shadow 0.2s;
	-moz-transition: height 0.2s, box-shadow 0.2s;
	transition: height 0.2s, box-shadow 0.2s;
}

.cd-stretchy-nav.nav-is-visible {
	pointer-events: auto;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
	height: 105%;
}

.cd-nav-trigger {
	position: absolute;
	z-index: 3;
	top: 10px;
	right: 7.5px;
	height: 25px;
	width: 25px;
  	/* replace text with image */
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	pointer-events: auto;
	background: url("../images/yoon.svg") no-repeat 0 0;
}

.cd-stretchy-nav ul {
  position: relative;
  z-index: 2;
  padding: 77px 0 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  -moz-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: right;
}

.cd-stretchy-nav ul a {
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 calc(1em + 60px) 0 1em;
  color: #cccccc;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

.cd-stretchy-nav ul a::after {
  /* navigation item icons */
	content: '';
	position: absolute;
	height: 16px;
	width: 16px;
	right: 13px;
	top: 50%;
	/*padding-left: -1px;*/
	-webkit-transform: translateY(-50%) scale(0);
	-moz-transform: translateY(-50%) scale(0);
	-ms-transform: translateY(-50%) scale(0);
	-o-transform: translateY(-50%) scale(0);
	transform: translateY(-50%) scale(0);
	opacity: 1;
	background: url("../images/circle.svg") no-repeat 0 0;
}

.cd-stretchy-nav ul a::before {
    /* line visible next to the active navigation item */
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    top: 50%;
    right: 51px;
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
    -o-transform: translateX(3px) translateY(-50%) scaleY(0);
    transform: translateX(3px) translateY(-50%) scaleY(0);
	background-color: #0066B3;
 	/*background-color: #333333;*/
}

.cd-stretchy-nav ul span {
  /* navigation item labels */
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-25px);
  -moz-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  -o-transform: translateX(-25px);
  transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
  /* navigation item icons */
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-animation: scaleIn 0.15s backwards;
  -moz-animation: scaleIn 0.15s backwards;
  animation: scaleIn 0.15s backwards;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul a.active {
	color: #0066B3;
	/*color: #333333;*/
	font-weight: 700;
}

.cd-stretchy-nav.nav-is-visible ul a.active::after {
	background: url("../images/circle_hover.svg") no-repeat 0 0;
	opacity: 1;
}

.cd-stretchy-nav.nav-is-visible ul a.active::before {
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
  -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
  -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
  -o-transform: translateX(3px) translateY(-50%) scaleY(1);
  transform: translateX(3px) translateY(-50%) scaleY(1);
  -webkit-transition: -webkit-transform 0.15s 0.3s;
  -moz-transition: -moz-transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s;
}

.cd-stretchy-nav.nav-is-visible ul span {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-animation: slideIn 0.15s backwards;
	-moz-animation: slideIn 0.15s backwards;
	animation: slideIn 0.15s backwards;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
	font-weight: 700;
	color: #F44336;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
	background: url("../images/circle_hover.svg") no-repeat 0 0;
 	opacity: 1;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}

.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}


@media (max-width: 1920px) {
	.cd-stretchy-nav {
		position: fixed;
		z-index: 2;
		top: 31.5px;
		right: 40px;
		pointer-events: none;
	}

	.cd-stretchy-nav .stretchy-nav-bg {
	  /* this is the stretching navigation background */
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		-webkit-transition: height 0.2s, box-shadow 0.2s;
		-moz-transition: height 0.2s, box-shadow 0.2s;
		transition: height 0.2s, box-shadow 0.2s;
	}

	.cd-stretchy-nav.nav-is-visible {
		pointer-events: auto;
	}
	.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
		height: 105%;
	}

	.cd-nav-trigger {
		position: absolute;
		z-index: 3;
		top: 10px;
		right: 10px;
		height: 20px;
		width: 20px;
		/* replace text with image */
		overflow: hidden;
		white-space: nowrap;
		color: transparent;
		pointer-events: auto;
		background: url("../images/yoon.svg") no-repeat 0 0;
	}

	.cd-stretchy-nav ul {
	  position: relative;
	  z-index: 2;
	  padding: 70px 0 0;
	  visibility: hidden;
	  -webkit-transition: visibility 0.3s;
	  -moz-transition: visibility 0.3s;
	  transition: visibility 0.3s;
	  text-align: right;
	}

	.cd-stretchy-nav ul a {
	  position: relative;
	  display: block;
	  height: 40px;
	  line-height: 40px;
	  padding: 0 calc(1em + 60px) 0 1em;
	  color: #cccccc;
	  -webkit-transition: color 0.2s;
	  -moz-transition: color 0.2s;
	  transition: color 0.2s;
	}

	.cd-stretchy-nav ul a::after {
	  /* navigation item icons */
	  content: '';
	  position: absolute;
	  height: 16px;
	  width: 16px;
	  right: 13px;
	  top: 50%;
	  -webkit-transform: translateY(-50%) scale(0);
	  -moz-transform: translateY(-50%) scale(0);
	  -ms-transform: translateY(-50%) scale(0);
	  -o-transform: translateY(-50%) scale(0);
	  transform: translateY(-50%) scale(0);
	  opacity: 1;
	  background: url("../images/circle.svg") no-repeat 0 0;
	}

	.cd-stretchy-nav ul a::before {
		/* line visible next to the active navigation item */
		content: '';
		position: absolute;
		width: 3px;
		height: 16px;
		top: 50%;
		right: 51px;
		-webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
		-moz-transform: translateX(3px) translateY(-50%) scaleY(0);
		-ms-transform: translateX(3px) translateY(-50%) scaleY(0);
		-o-transform: translateX(3px) translateY(-50%) scaleY(0);
		transform: translateX(3px) translateY(-50%) scaleY(0);
		background-color: #0066B3;
		/*background-color: #333333;*/
	}

}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {
	.cd-stretchy-nav {
	top: 27px;
	right: 15px; /*10*/
	}
	
	.cd-stretchy-nav ul {
    padding: 61px 0 0;
	}
	
	.cd-stretchy-nav ul span {
	font-size: 13.5px;
	}
}

@media (max-width: 840px) {
}

@media (max-width: 720px) {
	.cd-stretchy-nav{
		display: none;
	}
	/*
	.cd-stretchy-nav {
	top: 23px;
	right: 17.5px;
	}
	
	.cd-stretchy-nav ul {
    padding: 52px 0 0;
	}*/
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
	/*
	.cd-stretchy-nav {
	right: 7.5px;
	}
	
	.cd-stretchy-nav ul {
    padding: 50px 0 0;
	}*/
}

@media (max-width: 360px) {
}


/*------------------------------------------------------------------

Fullscreen max-width: 720px

 -----------------------------------------------------------------*/

@media (min-width: 721px) {
	header {
		display:none;
	}
}

@media (max-width: 720px) {
	header {
		opacity:1;
		width:100%;
		left:0;
		top:0;
		background-color:transparent;
		position:fixed;
		box-sizing:border-box;
		z-index:100;
		/*
		transition: all 0.5s cubic-bezier(0.68, 0, 0.265, 1) 0s;
		-webkit-transition: all 0.5s cubic-bezier(0.68, 0, 0.265, 1) 0s;
		*/
	}

	/*	
	header.nav-hide {
		top:-120px;
	}

	header.open.nav-hide {
		top:0px;		
	}
	*/

	#header-container {
		box-sizing: border-box;
		/*padding: 0 50px;
		height: 20px;
		margin: 22.5px auto;*/
		max-width: 100%;
		position: relative;
		width: 100%;
		z-index: 20;
		/*
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		*/
	}
	
	.menu-open .light-content .slide-in #logo img.white-logo {
    	opacity: 0.75;
	}

	.menu-info {
		-webkit-transform: translateY(60px);
		transform: translateY(60px);
		/*
		transform: translateY(60px);
		-webkit-transform: translateY(60px);
		*/
	}

    .menu-info {
		/*font-size: 14px;
		font-family: 'Poppins', sans-serif;
		color:#000;
		height: 40px;
		line-height: 40px;
		*/
		position: absolute;
		text-align: center;
		width: 100%;
		top: 0;
		left: 0;
		visibility:visible;
		opacity:0;
	}

    .transition .menu-info {
        -webkit-transition: opacity 0.2s ease-in-out 0s;
        transition: opacity 0.2s ease-in-out 0s;
        opacity:0!important;
    }

    .light-content .menu-info {
        color:#fff;
    }

    #burger-wrapper {
        width: 20px;
        height: 20px;
        float: right;
        top: 32.5px;
        right: 27.5px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    #burger-circle {
        width:40px;
        height:40px;
        border-radius:20px;
        box-sizing:border-box;
        background-color: transparent;
        position:absolute;
        left:50%; top:50%; /*target area 관련 아마?*/
        margin-top:-20px; margin-left:-20px; /*가운데 서클 관련*/
        cursor: pointer;
        z-index: 11;
        /*
        -webkit-transition: background-color  0.2s ease-in-out;
        transition: background-color  0.2s ease-in-out;
        */
    }

    .light-content #burger-circle {
        background-color:#FAFAFA;		
    }

    #menu-burger {
        width: 20px;
        height: 20px;
        position: relative;
        /*margin: 0 auto;*/	
        z-index:2;
        pointer-events: none;
        background: url("../images/yoon.svg") no-repeat 0 0;	
    }

    .menu-overlay #menu-burger {
        display:block;
    }

    #menu-overlay {
        position:fixed;
        z-index:10;
        height:100vh;
        width:100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
        opacity:0;
        visibility:hidden;
        text-align:left;
        transition: all 0.1s ease-in-out 0.6s;
    }

    #menu-overlay.active {
        opacity:1;
        visibility:visible;
        -webkit-transition: all 0.3s ease-in-out 0.2s;
        transition: all 0.3s ease-in-out 0.2s;
    }

    #close-menu {
        position: fixed !important;
        height:100vh;
        width:100vw;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    #menu-overlay .outer {
        width: 100%;
        margin: auto;
        /*padding:80px;
        box-sizing: border-box;*/
    }


    nav {
        /*메뉴 오버레이 때 적용*/
        width:auto;
        float:none;
        display:table;
        margin: auto;
    }


    nav ul ul {
        display: none;
        /*margin-bottom: 20px;*/
        position: relative;
    }

    nav > ul > li > a {
        /*padding: 2px 0px;
        font-weight: 700; 
        line-height: 40px;*/
        cursor: pointer;
        position:relative;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    nav > ul > li > a:hover,
    nav > ul > li.active > a,
    nav > ul > li.open > a {
        color: #F44336;
    }


    nav ul ul li a {
        cursor: pointer;
        /*
        padding: 10px 20px 2px;
        font-size: 16px;
        color: rgba(0,0,0,0.4);
        text-decoration: none;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        line-height:20px!important;*/
        z-index: 1;
    }

	.main-menu{
		width:100vw;
		height:100vh;
		margin-top: 45%;
		background-color: #fafafa;
		display: inline-block;
		text-align: left;
	}

	.mp {
		font-size: 22.5px;
		font-weight: 700;
		text-align: center;
		line-height: 60px;	
	}
}

@media (max-width: 480px) {
    #burger-wrapper {
        top: 32.5px;
        right: 17.5px;
  
    }
	
}
/*--------------------------------------------------------------------------------

Font / text

--------------------------------------------------------------------------------*/

.font-family-ptserif {
	font-family: "PT Serif", serif;
}

.font-family-ptsans {
	font-family: "PT Sans", sans-serif;
}

.font-family-roboto {
	font-family: "Roboto", sans-serif;
}

.font-family-notosans-kr {
	font-family: 'Noto Sans KR', sans-serif;
}

.font-family-notoserif-kr {
	font-family: 'Noto Sans KR', sans-serif;
}

.font-family-nbg-kr { font-family: 'NanumBarunGothic', sans-serif; }

.font-family-nsg-kr { font-family: 'NanumSquare', sans-serif; }

.font-family-ys-kr{font-family: 'Yeon Sung', cursive;}
/*.normal     { font-weight: 400 }
.bold       { font-weight: 700 }
.bolder     { font-weight: 800 }
.light      { font-weight: 300 }*/

.text-left{
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

body {
	font: 400 17.5px "roboto", sans-serif;
	letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #333333;
}

/*
.light-background h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #333333;
}

.dark-background h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #f5f5f5;
}
*/
h1 {
	font:700 50px "PT Serif", serif;
	letter-spacing: 0.0em;
	line-height: 1.2;
}

h2 {
	font: 700 40px "roboto", sans-serif;
	letter-spacing: 0.02em;
}

h3 {
	font: 400 45px "PT Serif", serif;
	line-height: 1.2;
}

h4 {
	font: 400 35px "roboto", sans-serif;
}

h5 {
	font-size: 20px;
	line-height: 36px;
}

h6 {
	font-size: 15px;
	line-height: 30px;
}

p {
	font-size: 17.5px;
	margin: 0;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

.display-1 {
	font-size: 80px;
	line-height: 1.2;
}

.display-2 {
	font-size: 30px;
	line-height: 1.2;
}

.display-3 {
	font-size: 50px;
}

.display-4 {
	font-size: 40px;
}

.display-5 {
	font-size: 30px;
	line-height: 1.3;
}

.display-1-kr {
	font-size: 65px;
	line-height: 1.3;
}

.display-2-kr {
	font-size: 42.5px;
	line-height: 1.3;
}

@media (max-width: 1920px) {
body {
	font: 400 15px "roboto", sans-serif;
	letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #333333;
}

/*
.light-background h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #333333;
}

.dark-background h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	color: #f5f5f5;
}
*/
h1 {
	font:700 40px "PT Serif", serif;
	letter-spacing: 0.0em;
	line-height: 1.2;
}

h2 {
	font: 700 35px "roboto", sans-serif;
	letter-spacing: 0.02em;
}

h3 {
	font: 400 45px "PT Serif", serif;
	line-height: 1.2;
}

h4 {
	font: 400 35px "roboto", sans-serif;
}

h5 {
	font-size: 20px;
	line-height: 36px;
}

h6 {
	font-size: 15px;
	line-height: 30px;
}

p {
	font-size: 15px;
	margin: 0;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

.display-1 {
	font-size: 62.5px;
	line-height: 1.2;
}
	
.display-1-kr {
	font-size: 52.5px;
	line-height: 1.3;
}

.display-2 {
	font-size: 30px;
	line-height: 1.2;
}

.display-2-kr {
	font-size: 35px;
	line-height: 1.3;
}
	
.display-3 {
	font-size: 50px;
}

.display-4 {
	font-size: 40px;
}

.display-5 {
	font-size: 30px;
	line-height: 1.3;
}

}

@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 960px) {

	h1 {
	font-size: 40px;
	}
	
	body {
	font: 400 13.5px "roboto", sans-serif;
	}
	
	p {
	font-size: 13.5px;
	margin: 0;
	line-height: 1.4;
	}
	
	.display-1 {
	font-size: 60px;
	line-height: 1.2;
	}
	
	.display-1-kr {
	font-size: 45px;
	line-height: 1.2;
}
	
	.display-2 {
	font-size: 25px;
	line-height: 1.2;
	}
	
	.display-2-kr {
	font-size: 35px;
	line-height: 1.3;
}
}

@media (max-width: 840px) {
	.display-1 {
		font-size: 52.5px;
		line-height: 1.2;
	}
}

@media (max-width: 720px) {
	h1 {
	font-size: 35px;
	line-height: 1.3;
	}
	
	h2 {
	font-size: 35px;
	}
	
	.display-1 {
		font-size: 47.5px;
		line-height: 1.2;
	}
	
	.display-1-kr {
	font-size: 35px;
	line-height: 1.3;
	}
	
	.display-2-kr {
	font-size: 35px;
	line-height: 1.3;
	}
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
	.display-1 {
		font-size: 42.5px;
	}
	
	.display-2 {
	font-size: 23px;
	}

}

@media (max-width: 360px) {
	.display-1 {
		font-size: 35px;
		line-height: 1.2;
	}
	
	.display-1-kr {
	font-size: 30px;
	line-height: 1.2;
}
}



/*--------------------------------------------------------------------------------

Filter

--------------------------------------------------------------------------------*/

.filter {
	position:relative;
	list-style: none;
	float: left;
  	margin: 0 20px 10px 0;
  	padding: 0;
	letter-spacing: 1.0px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: #CCCCCC;
 	cursor: pointer;
}

.filter:hover, .filter-active  {
	font-weight: 700;
	color: #0066B3;
}

.category {
	transition: all 0.25;
	
	/*
	transition-duration: 0s;
	
	-webkit-transition: -webkit- all transform 0s;
	-moz-transition: -moz- all transform 0s;
	transition: all transform 0s;
	
	-webkit-transition: all opacity 0s;
  	-moz-transition: all opacity 0s;
 	 transition: all opacity 0s;*/

	/*
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
	
	-webkit-transition: ease-in-out 0.4s;
	transition: ease-in-out 0.4s;
	
	 -webkit-transition: ease-out 0.2s;
  	transition: ease-out 0.2s;*/
	
	/*-webkit-transform: translateY(0);
	transform: translateY(0);*/
}

@media (max-width: 960px) {
	.filter {
	font-size: 13.5px;
	}
	
}

@media (max-width: 720px) {
	.filter{
	display:none;
	}
}


/*--------------------------------------------------------------------------------

Button

--------------------------------------------------------------------------------*/

.button-01 a {
	position: relative;
	display: inline-block;
	color: #333333;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 500;
}

.button-01 a:hover,
.button-01 a:focus {
	color: #0066B3;
}

.button-01 a {
	overflow: hidden;
}

.button-01 a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.button-01 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 500;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.button-01 a:hover span,
.button-01 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}


/*--------------------------------------------------------------------------------

Scroll-down / light

--------------------------------------------------------------------------------*/

.scroll-down-wrap{
		transition:all 0.2s ease-in-out;
		-webkit-transition:all 0.2s ease-in-out;
		opacity:0;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		/*
		transform: translateY(10px);
		-webkit-transform: translateY(10px);
		*/
		visibility:visible;
	}
	
.animate .scroll-down-wrap{
		opacity:1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		/*
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		*/
	}
	
.scroll-down-wrap.fade-out {
		opacity:0;
		visibility:hidden;
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		/*
		transform: translateY(-50px);
		-webkit-transform: translateY(-50px);
		*/
	}
	
.scroll-down-wrap,.scroll-down-wrap.no-border{
		position:absolute;
		width:60px;
		margin-left: -10px;
		left: 48.75%;
		bottom:40px;
		z-index:98;
	}
	
.scroll-down-wrap.no-border .section-down-arrow{
		display:inline-block;
		width:49px;
		height:49px;
		color: #F54436 !important;
		border:2px solid #F54436;
		text-align:center;
		line-height:50px;
		font-size:25px;
		-webkit-border-radius:100px;
		border-radius:100px;
		/*
		border-radius:100px;
		font-size:25px;
		-webkit-border-radius:100px;
		*/
		transition:opacity 0.4s ease;
		-webkit-transition:opacity 0.4s ease;
		overflow:hidden;
		margin-left:0px;
		left:0;
		opacity:0.6;
	}
	
.scroll-down-wrap.no-border .section-down-arrow,.slider-down-arrow.no-border{
		border:none!important;
		overflow:visible;
		text-align:center;
		opacity:1;
		height:auto;
		bottom:13px;
		-webkit-animation:nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
		animation:nudgeMouse 2.4s cubic-bezier(0.250,0.460,0.450,0.940) infinite;
	}
	
.nectar-scroll-icon-path{
		fill:transparent;
		stroke-width:2px;
		stroke-dashoffset:120;
		stroke-dasharray:120;
		-webkit-animation:mouse-scroll-btn-roll-out .55s cubic-bezier(.5,.1,.07,1);
		animation:mouse-scroll-btn-roll-out .55s cubic-bezier(.5,.1,.07,1);
	}
	
.nectar-scroll-icon{
		width:30px;
		height:45px;
		text-align:center;
		cursor:pointer;
		position:relative;
		z-index:100;
	}
	
.scroll-down-wrap.no-border .section-down-arrow:after,.slider-down-arrow.no-border:after{
		content:"";
		position:absolute;
		top:0;
		left:50%;
		display:block;
		width:30px;
		height:45px;
		margin-left:-15px;
		border:2px solid rgba(0,0,0,0.2);
		border-radius:30px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		z-index:62;
	}
	
.scroll-down-wrap.no-border:hover .section-down-arrow:before, .slider-down-arrow.no-border:hover:before{
		background-color:rgba(244,67,54,1);
	}
	
.scroll-down-wrap.no-border:hover .nectar-scroll-icon-path, .slider-down-arrow.no-border:hover .nectar-scroll-icon-path{
		stroke-dashoffset:0;
		-webkit-animation:mouse-scroll-btn-roll-over .55s cubic-bezier(.5,.1,.07,1);
		animation:mouse-scroll-btn-roll-over .55s cubic-bezier(.5,.1,.07,1)
	}
	
@-webkit-keyframes mouse-scroll-btn-roll-over{
		0%{stroke-dashoffset:120}
		100%{stroke-dashoffset:0}
	}

@keyframes mouse-scroll-btn-roll-over{
		0%{stroke-dashoffset:120}
		100%{stroke-dashoffset:0}
	}
	
@-webkit-keyframes mouse-scroll-btn-roll-out{
		0%{stroke-dashoffset:0}
		100%{stroke-dashoffset:-120}
}

@keyframes mouse-scroll-btn-roll-out{
		0%{stroke-dashoffset:0}
		100%{stroke-dashoffset:-120}
}
	
.scroll-down-wrap.no-border .section-down-arrow:before,.slider-down-arrow.no-border:before{
		position:absolute;
		content:'';
		display:block;
		left:50%;
		margin-left:-1px;
		top:22px;
		background-color:rgba(0,0,0,0.2);
		width:2px;
		height:6px;
		border-radius:10px;
		transition:background-color .55s cubic-bezier(.5,.1,.07,1);
		-webkit-animation:trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
		animation:trackBallSlide 2.4s cubic-bezier(0.000,0.000,0.725,1.000) infinite;
}
	
@-webkit-keyframes trackBallSlide{
		0%{
			opacity:1;
			-webkit-transform:scaleY(1) translateY(-10px);
			transform:scaleY(1) translateY(-10px);
		}
		45%{
			opacity:0;
			-webkit-transform:scaleY(0.5) translateY(13px);
			transform:scaleY(0.5) translateY(13px);
		}
		46%{
			opacity:0;
			-webkit-transform:scaleY(1) translateY(-10px);
			transform:scaleY(1) translateY(-10px);
		}
		65%,100%{
			opacity:1;
			-webkit-transform:scaleY(1) translateY(-10px);
			transform:scaleY(1) translateY(-10px);
		}
}
	
@keyframes trackBallSlide{
		0%{
			opacity:1;
			-webkit-transform:scaleY(1) translateY(-10px);
			transform:scaleY(1) translateY(-10px);
		}
		45%{
			opacity:0;
			-webkit-transform:scaleY(0.5) translateY(13px);
			transform:scaleY(0.5) translateY(13px);
		}
		46%{
			opacity:0;
			-webkit-transform:scaleY(1) translateY(-10px);
			transform:scaleY(1) translateY(-10px);
		}
		65%,100%{
			opacity:1;
			-webkit-transform:scaleY(1) translateY(-10px);
			transform:scaleY(1) translateY(-10px);
		}
}
	
@keyframes nudgeMouse{
		0%{
			-webkit-transform:translateY(0);
			transform:translateY(0);
		}
		45%{
			-webkit-transform:translateY(8px);
			transform:translateY(8px);
		}
		65%,100%{
			-webkit-transform:translateY(0);
			transform:translateY(0);
		}
}

@-webkit-keyframes nudgeMouse{
		0%{
			-webkit-transform:translateY(0);
			transform:translateY(0);
		}
		45%{
			-webkit-transform:translateY(8px);
			transform:translateY(8px);
		}
		65%,100%{
			-webkit-transform:translateY(0);
			transform:translateY(0);
		}
}

@media (max-width: 1366px) {
	
	.scroll-down-wrap, .scroll-down-wrap.no-border {
		left: 48%;
	}
}

@media (max-width: 960px) {	
	.scroll-down-wrap, .scroll-down-wrap.no-border {
		bottom: 70px;
		left: 47.2%;
	}
}

@media (max-width: 720px) {
	.scroll-down-wrap, .scroll-down-wrap.no-border {
		bottom: 125px;
		left: 46.9%;
	}
}

@media (max-width: 480px) {
	.scroll-down-wrap, .scroll-down-wrap.no-border {
		bottom: 100px;
	}
}

@media (max-width: 360px) {
	.scroll-down-wrap, .scroll-down-wrap.no-border {
		left: 45.75%;
	}
}


/*--------------------------------------------------------------------------------

Scroll-down / dark

--------------------------------------------------------------------------------*/

.dark-background .scroll-down-wrap.no-border .section-down-arrow{
		color: #f5f5f5 !important;
		border:2px solid #f5f5f5;
	}
	
.dark-background .scroll-down-wrap.no-border .section-down-arrow:after,.slider-down-arrow.no-border:after{
		border:2px solid rgba(245,245,245,0.5);
}
	
.dark-background .scroll-down-wrap.no-border:hover .section-down-arrow:before, .slider-down-arrow.no-border:hover:before{
		background-color:rgba(245,245,245,1);
}
	
.dark-background .scroll-down-wrap.no-border .section-down-arrow:before,.slider-down-arrow.no-border:before{
		background-color:rgba(245,245,245,0.5);
}

@media (max-width: 1366px) {
	
	.dark-background .scroll-down-wrap, .scroll-down-wrap.no-border {
		left: 48%;
	}
}

@media (max-width: 960px) {	
	.dark-background .scroll-down-wrap, .scroll-down-wrap.no-border {
		bottom: 70px;
		left: 47.2%;
	}
}

@media (max-width: 720px) {
	.dark-background .scroll-down-wrap, .scroll-down-wrap.no-border {
		bottom: 125px;
		left: 46.9%;
	}
}

@media (max-width: 480px) {
	.dark-background .scroll-down-wrap, .scroll-down-wrap.no-border {
		bottom: 100px;
	}
}

@media (max-width: 360px) {
	.dark-background .scroll-down-wrap, .scroll-down-wrap.no-border {
		left: 45.75%;
	}
}
